body {
  font-size: 16px;
  color: #0021A5;
  background-color: #FA4616;
}

/* HEADER */
#header-nav {
  background-color: yellow;
  border-radius: 0;
  border: 1;
  border-color: #0021A5;
}

.navbar-brand {
  padding-top: 5px;
}

.navbar-brand h1 {      /* food, llc */
  margin: 0px 0px 0px 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #0021A5;
  text-align: center;
}

#nav-list a:hover {
  background: #FA4616;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #0021A5;
}

.row {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  background-color: yellow;
}

.body {
  margin: 20px 20px 0px 20px;
}